<mat-toolbar color="primary" class="app-header">
  <mat-toolbar-row>
    <img src="assets/cms-logo-white.svg" width="90" height="90">
    <span class="menu-spacer"></span>
    <div class="header-menu">
      <a mat-button [routerLink]="'/sc'" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
        true}"> <mat-icon>home</mat-icon> Home </a>
      <a mat-button [routerLink]="'/sc/dashboard'" routerLinkActive="active" > <mat-icon>dashboard</mat-icon> Dashboard  </a>
      <a mat-button [routerLink]="'/sc/user'" routerLinkActive="active" > <mat-icon>golf_course</mat-icon> User management</a>
      <a mat-button [routerLink]="'/sc/course'" routerLinkActive="active"> <mat-icon>supervised_user_circle</mat-icon>Course Management </a>
    </div>
      <div class="right-block">
        <button  mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu  #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>people</mat-icon>
            <span>Profile</span>
          </button>
          <button mat-menu-item>
            <mat-icon>notification_important</mat-icon>
            <span>Notification</span>
          </button>
          <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon>
            <span>Settings</span>
          </button>
          <button mat-menu-item [routerLink]="['/login']">
            <mat-icon>power_settings_new</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </div>
    
  </mat-toolbar-row>
</mat-toolbar>
<!-- <router-outlet></router-outlet> -->
