<div class="page-container">
    <div class="page-header">
        <div class="title-block">
            <h3 class="page-title">Manage Exam</h3>
            <p class="title-description bottom-seperator">You can Edit/Delete Exams from here</p>
        </div>
    </div>
    <div class="page-content">
        <div class="form-title">
            <h3 class="title-block">Find All Exam Details below:</h3>
        </div>
        <div class="container">
            <app-data-grid [dataGridConfig]="gridConfig" (gridActionEvent)="gridActionEvent($event)"></app-data-grid>             
        </div>
    </div>
</div>