//variables
$bg-background-color: #f0f3f6 !default;
$brand-color: #45b29a !default;
$primary-color: #45b29a !default;
$header-height: 64px !default;
$footer-height: 40px !default;
$ripple-btn-color: #03a9f4 !default;
$error-color: #f44336 !default;
$menu-active-color: #ffd740 !default;




