<div class="page-container">
    <div class="page-header">
        <div class="title-block">
            <h3 class="page-title">Add Section/Batch</h3>
            <p class="title-description bottom-seperator">eg: 6thA, B, C etc.</p>
        </div>
    </div>
    <div class="page-content">
        <div class="form-title">
            <h3 class="title-block">Please enter Section/Batch Details below:</h3>
        </div>
        <div class="container form-container">
            <form autocomplete="off" novalidate [formGroup]="addSectionForm" (ngSubmit)="addSection()">
                <div class="row">
                    <div class="col">
                        <mat-form-field>
                            <mat-label>Section Name</mat-label>
                            <input matInput type="text" placeholder="eg: Class 6th" formControlName="sectionName">
                            <mat-hint align="end">Not more then 100 characters long.</mat-hint>
                            <mat-error *ngIf="hasError('sectionName', 'required')">Section Name is required
                            </mat-error>
                            <mat-error *ngIf="hasError('sectionName', 'maxlength')">You have more than 100 characters
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <app-org-course [parentForm]="addSectionForm"></app-org-course>
                <div class="row ">
                    <div class="col">
                        <mat-card-actions>
                            <div class="button-inline">
                                <button type="submit" mat-raised-button color="primary">Add Section</button>
                            </div>
                        </mat-card-actions>
                    </div>
                </div>

            </form>            
        </div>
    </div>
</div>